body {
	margin: 15px;
}
  nav .navbar-nav li a{
	color:#0d6dba !important;
	font-weight: bold;
	font-size:20px;
}
nav .navbar-nav li a:hover{
	color:#0dba2f !important;
	text-decoration: none;

}
#team{
	text-decoration: none;
	background-color:#ADD8E6;
	align-content: center;
	text-align: center;
	margin:10px;
	padding:10px
		
}
table{
	margin-bottom: auto;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
}
td{
	padding:15px;
	color:#001a66;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
#documentation{
	background-color: #efefef;
	text-align: center;	
}
#documentation a{
	color:#0d6dba;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:25px;
	padding-left:25px;
	margin:10px;
	font-size:30px;
	text-decoration: none;
	
	
}
#documentation a:hover{
	color:#0dba2f;
	text-decoration: none;
	font-weight: bolder;
}
#team img{
	border-radius: 5%;
}






