body {
	margin: 20px;
	color:#0d6dba !important;
	text-decoration: none;
}
  nav .navbar-nav li a{
	color:#0d6dba !important;
	font-weight: bold;
	font-size:20px;
}
nav .navbar-nav li a:hover{
	color:#0dba2f !important;
}
#project{
	background-color:#efefef;
	padding:20px;
	 text-align: center;
}
p{
	 font-size: 20px;
	margin:20px;
	 padding:20px;
	 text-align: center;
 }	
#team{
	
	background-color:#ADD8E6;
	align-content: center;
	text-align: center;
	margin:20px;
}
#team img{
	border-radius: 5%;
}
table{
	margin-bottom: auto;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
}
td{
	padding:15px;
	font-weight: bold;
	text-align: center;
}
#documentation{
	background-color: #efefef;
	text-align: center;	
}
#documentation a{
	padding-top:20px;
	padding-bottom:20px;
	padding-right:25px;
	padding-left:25px;
	margin:20px;
	font-size:30px;
	
}
#documentation a:hover{
	color:#0dba2f;
	font-weight: bolder;
}







